<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="header">
        <h1 class="headergreetings1"> welcome to our </h1>
        <h1 class="headername">sri gowtham plumbing works</h1>
        <h4 class="headergreetings2">Hello! We're your trusted experts for all your plumbing needs</h4>

    </header>
    <main>
        <div class="listtopic">
            Hello <span class="name"></span>! Thank you for reaching out to sri gowtham plumbing works. We specialize in
        </div>
        <div class="list-container">
            <!-- <br><br><br>
            <h2>registered details </h2>
            <ul id="contacts-list"></ul> -->

            <div>We are experts in finding and rectifying bathroom leakages</div>
            <div>Water line airblock detection and resolution</div>
        <div>Emergency plumbing services</div>
        <div>Pipe leakage detection and repair</div>
        <div>Tank leakage detection and repair</div>
        <div>Professional plumbing work for new buildings</div>
        <div>Installation of rainwater saving systems</div>
        <div>New borewell installation and bore motor fitting</div>
        
    </div>
    <div class="inquiries">
        <a href="/valid/">

            for free inquiries 
        </a>
    </div>
    </main>
    <footer>
        Hello! At sri gowtham plumbing works, we pride ourselves on our extensive plumbing expertise. With years of experience, our team of certified professionals is equipped to handle everything from routine maintenance to complex installations and emergency repairs. Whether it's a leaky faucet, a clogged drain, or a full-scale plumbing system overhaul, you can trust us to deliver top-quality workmanship and exceptional customer service. Thank you for choosing us for all your plumbing needs!
    </footer>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>